.mobile-slider .slider-nav,
.slider-dots {
    display: none;
}

.mobile-slider-active {
    position: relative;

    .slider-content {
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        li {
            display: inline-block;
            vertical-align: top;
            overflow: visible;
            float: none !important;
            /*width: x; // Width will come from the js file. */
        }
    }
    .slider-content::-webkit-scrollbar {
        display: none !important;
    }
    .slider-nav {
        display: block;
        padding-top: 4px;
        font-size: 0;
        text-align: center;
    }
    .slider-dot {
        display: inline-block;
        float: none;
        margin: 0 6px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .2);
        background-color: rgba(74, 73, 74, 0.2);
        box-sizing: border-box;

        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

}

.mobile-slider-active.light-dots .slider-dot {
    background-color: rgba(255, 255, 255, .2);
}

.mobile-slider-active .slider-nav .slider-dot.active {
    background-color: #eac042;
}



/* SLIDER ARROWS */

/* Shows arrows on each side of the slider */

.mobile-slider.show-arrows .slider-next,
.mobile-slider.show-arrows .slider-prev {
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    margin-top: -24px;

    background-repeat: no-repeat;
    background-size: contain;
}

.mobile-slider.show-arrows .slider-next {
    background-image: url("./images/icons/right-arrow@2x.png");
    right: -20px;
}

.mobile-slider.show-arrows .slider-prev {
    background-image: url("./images/icons/left-arrow@2x.png");
    left: -20px;
}

@media all and (min-width: 768px) {
    .slider-content, .flex--desktop {
        min-height: 200px;
    }
}
.page-template-cluster{
    .mobile-slider.show-arrows .slider-next {
        right: 0px;
    }
.mobile-slider.show-arrows .slider-prev {
    left: 0;
    }
}
@media all and (max-width: 767px) {}
