$color1 : #202044;
$color2 : #3A66B2;
$color2bis : #40549C;
$color3 :#474291;
$color4 :#673C8E;
$color5 :#C83463;
$color6 :#787878;
$color7 :#C5C5C5;
$color8 :#E3E3E3;

$gray1 : #D8D8D8;
$redButtonRelease : rgba(230,0,0,0.6);
$redButtonHover : rgba(230,0,0,0.8);
$darkRed:#890000;
$red:#E50000;
$black : #36240E;
$light : #B1B1B1;
$blackText : #313131;
$lightBlue: #F6F9FC; //#F6F9FC
$blue : #428BF5;
$screen-xs-max : 768px;

$borderColor : #333333;
$darkBorderColor : #181818;