*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/elementor
wp-content/uploads/wc-logs
wp-content/uploads/woocommerce_uploads
wp-content/uploads/wp-migrate-db
wp-content/uploads/wpo_wcpdf

wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html
/license.txt


wp-config.php



wp-content/backups/
prepros-6\.config

config.codekit3

*.codekit3
*.DS_Store

wp-content/themes/roboticsplace/\.DS_Store

wp-content/themes/roboticsplace/style\.css

wp-content/themes/\.DS_Store

wp-content/themes/roboticsplace/images/\.DS_Store
